@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Chatroom Studio™ Community Edition</p>
    <p>
        Send email with your WhatsApp Export File attached using the Subject: <b>CRS TRANSCRIPTION DEMO</b> <br />
        you will recive the Podcast transcription
    </p>
    <p><a class="btn btn-primary" asp-page="/Chat">Chat</a></p>
    <a>Kickstarter Campaign</a>
    https://www.kickstarter.com/projects/cnua/chat-to-podcast-text-to-speech-listen-to-your-chatgroup?ref=mail-prelaunch
</div>
